body {background:navy;
	  color:white;
	  font-family: arial;
	  font-size: 15pt;
	  }
	  
h1 {font-size: 250%;
	color: white
}

nav li  {
	     display: inline-block;
         border: 2px solid blue;
		 background-color: white
}


html {

	display:inline-block;
	border: 2px solid white;
	background-color: black;
	padding:100px
}
